---
import Footer from "../components/Footer.astro";
import PrincipalCard from "../components/Principal_card.astro";
import CarrerasCard from "../components/Carreras_card.astro";
import Header from "../components/Header.astro";
import Slider from "../components/Slider.astro";
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Tour</title>
    <meta property="og:type" content="website" />

    <link rel="stylesheet" href="/src/styles/plantilla.css" />
    <link rel="stylesheet" href="/src/styles/footer_udg.css" />
    
    <style type="text/css">
        @font-face {
            font-family: 'BDCartoonShoutRegular';
            src: url('/src/js/BD_Cartoon_Shout-webfont.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        #pacman {
            height: 450px;
            width: 342px;
            margin: 20px auto;
            max-width: 100%;
        }
        #shim {
            font-family: BDCartoonShoutRegular;
            position: absolute;
            visibility: hidden;
        }
        h1 {
            font-family: BDCartoonShoutRegular;
            text-align: center;
        }
        body {
            width: 100%;
            margin: 0px auto;
            font-family: sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <Header />
    <div id="pacman"></div>
    <Slider />
    <div class="container px-8 py-5 lg:py-8 mx-auto mb-10 xl:px-5 max-w-screen-lg">
        <main>
            <div class="grid gap-10 lg:gap-10 mb-11 md:grid-cols-2">
                <!-- Aquí podrías colocar otros componentes o secciones de tu sitio -->
                <PrincipalCard
                    href=""
                    alt="nada"
                    srcset="200w, 800w"
                    subtitulo="prueba"
                    titulo="Calendario"
                    texto="mucho texto"
                    src=""
                    autor="Yo"
                    altAutor="yo quien mas"
                    imgAutor=""
                    fecha="hoy"
                    colorSub="inline-block mt-5 text-xs font-medium tracking-wider uppercase text-orange-700"
                />
                <PrincipalCard
                    href=""
                    alt="nada"
                    srcset="200w, 800w"
                    subtitulo="prueba"
                    titulo="Registro"
                    texto="mucho texto"
                    src=""
                    autor="Yo"
                    altAutor="yo quien mas"
                    imgAutor=""
                    fecha="hoy"
                    colorSub="inline-block mt-5 text-xs font-medium tracking-wider uppercase text-purple-600"
                />
            </div>

            <div class="grid gap-10 mt-10 lg:gap-10 md:grid-cols-2 xl:grid-cols-3">
                <!-- Aquí podrías colocar más componentes o secciones de tu sitio -->
                <CarrerasCard
                    href="/IngInformatica"
                    alt="Cargaaaa"
                    srcset="/public/img/ventajas-informatica-empresas.jpeg 200w, /public/img/ventajas-informatica-empresas.jpeg 800w"
                    subtitulo="prueba"
                    titulo="Ingeniería en Informática"
                    texto="mucho texto"
                    src="/public/img/ventajas-informatica-empresas.jpeg"
                    autor="Yo"
                    altAutor="yo quien más"
                    imgAutor=""
                    fecha="hoy"
                    colorSub="inline-block mt-5 text-xs font-medium tracking-wider uppercase text-emerald-700"
                />
                <CarrerasCard
                    href="/IngBiomedica"
                    alt="nada"
                    srcset="200w, 800w"
                    subtitulo="prueba"
                    titulo="Ingeniería en Biomédica"
                    texto="mucho texto"
                    src=""
                    autor="Yo"
                    altAutor="yo quien mas"
                    imgAutor=""
                    fecha="hoy"
                    colorSub="inline-block mt-5 text-xs font-medium tracking-wider uppercase text-purple-600"
                />
                <CarrerasCard
                    href="/IngComputacion"
                    alt="nada"
                    srcset="200w, 800w"
                    subtitulo="prueba"
                    titulo="Ingeniería en Computación"
                    texto="mucho texto"
                    src=""
                    autor="Yo"
                    altAutor="yo quien mas"
                    imgAutor=""
                    fecha="hoy"
                    colorSub="inline-block mt-5 text-xs font-medium tracking-wider uppercase text-pink-600"
                />
                <CarrerasCard
                    href="/IngComElec"
                    alt="nada"
                    srcset="200w, 800w"
                    subtitulo="prueba"
                    titulo="Ingeniería en Comunicaciones y Electrónica"
                    texto="mucho texto"
                    src=""
                    autor="Yo"
                    altAutor="yo quien mas"
                    imgAutor=""
                    fecha="hoy"
                    colorSub="inline-block mt-5 text-xs font-medium tracking-wider uppercase text-pink-600"
                />
                <CarrerasCard
                    href="/IngFotonica"
                    alt="nada"
                    srcset="200w, 800w"
                    subtitulo="prueba"
                    titulo="Ingeniería en Fotónica"
                    texto="mucho texto"
                    src=""
                    autor="Yo"
                    altAutor="yo quien mas"
                    imgAutor=""
                    fecha="hoy"
                    colorSub="inline-block mt-5 text-xs font-medium tracking-wider uppercase text-pink-600"
                />
                <CarrerasCard
                    href="/IngRobotica"
                    alt="nada"
                    srcset="200w, 800w"
                    subtitulo="prueba"
                    titulo="Ingeniería en Robótica"
                    texto="mucho texto"
                    src=""
                    autor="Yo"
                    altAutor="yo quien mas"
                    imgAutor=""
                    fecha="hoy"
                    colorSub="inline-block mt-5 text-xs font-medium tracking-wider uppercase text-orange-700"
                />
            </div>
        </main>
    </div>
    <Footer />

    <!-- Sección del juego de Pac-Man -->
   
    <script src="/src/js/pacman.js" type="text/javascript"></script>
    <script src="/src/js/modernizr-1.5.min.js" type="text/javascript"></script>
    <script>
        var el = document.getElementById("pacman");

        if (Modernizr.canvas && Modernizr.localstorage &&
            Modernizr.audio && (Modernizr.audio.ogg || Modernizr.audio.mp3)) {
            console.log("Modernizr passed"); // Depuración
            window.setTimeout(function () { PACMAN.init(el, "./"); }, 0);
        } else {
            el.innerHTML = "Sorry, needs a decent browser<br /><small>" +
            "(firefox 3.6+, Chrome 4+, Opera 10+ and Safari 4+)</small>";
        }

        // Evitar el gesto de recarga en móviles
        document.addEventListener('touchmove', function (event) {
            if (event.touches.length > 1) {
                event.preventDefault();
            }
        }, { passive: false });
    </script>
</body>
</html>

