---
import Maquinita from "../components/Maquinita.astro";
---
<!DOCTYPE html>
<html>
<head>
  <title>Maquinita Arcade</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <style>
    .arrow-button {
      @apply bg-gray-300 w-8 h-8 flex items-center justify-center;
    }
    .arrow-button::before {
      content: "";
      @apply border-t-2 border-r-2 border-transparent w-4 h-4 transform rotate-45;
    }
    .arrow-up::before { transform: rotate(-135deg); }
    .arrow-down::before { transform: rotate(45deg); }
    .arrow-left::before { transform: rotate(135deg); }
  </style>
</head>
<body class="bg-gray-900 flex items-center justify-center h-screen">

  <Maquinita/>
</body>
</html>