<footer  class="grid-12 region region-footer-second w-full" id="region-footer-second">
    <div class="region-inner region-footer-second-inner">
        <div
            class="block block-block block-2 block-block-2 odd block-without-title"
            id="block-block-2"
        >
            <div class="block-inner clearfix">
                <div class="content clearfix">
                    <p>UNIVERSIDAD DE GUADALAJARA</p>
                    <p>
                        CENTRO UNIVERSITARIO DE CIENCIAS EXACTAS E INGENIERÍAS
                    </p>
                    <p>
                        Blvd. Marcelino García Barragán #1421, esq Calzada
                        Olímpica, C.P. 44430, Guadalajara, Jalisco, México.<br
                        /><strong>Teléfono: +52 33 1378 5900.</strong>
                    </p>
                </div>
            </div>
        </div><div
            class="block block-menu block-menu-men- block-menu-menu-men- even block-without-title"
            id="block-menu-menu-men-"
        >
            <div class="block-inner clearfix">
                <div class="content clearfix">
                    <ul class="menu">
                        <li class="first collapsed">
                            <a href="https://www.cucei.udg.mx/es/acerca-de" target="_blank">Acerca de</a>
                        </li>
                        <li class="collapsed">
                            <a href="https://www.cucei.udg.mx/es/oferta-academica" target="_blank">Oferta Académica</a>
                        </li>
                        <li class="leaf">
                            <a href="http://investigacion.cucei.udg.mx" title="" target="_blank"
                                >Investigación</a>
                        </li>
                        <li class="collapsed">
                            <a href="https://www.cucei.udg.mx/es/servicios" target="_blank">Servicios</a>
                        </li>
                        <li class="collapsed">
                            <a href="https://www.cucei.udg.mx/es/vinculacion-y-difusion" target="_blank"
                                >Extensión y Difusión</a>
                        </li>
                        <li class="last collapsed">
                            <a href="https://www.cucei.udg.mx/es/comunidad" target="_blank">Comunidad</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div
            class="block block-block block-3 block-block-3 odd block-without-title"
            id="block-block-3"
        >
            <div class="block-inner clearfix">
                <div class="content clearfix">
                    <p>
                        Derechos reservados ©1997 - 2024. Universidad de
                        Guadalajara. Sitio desarrollado por <a
                            href="http://cgti.udg.mx"
                            target="_blank">CGTI</a
                        > y <a
                            href="http://cucei.udg.mx/es/servicios/internet-y-telecomunicaciones"
                            target="_blank">CTA CUCEI</a
                        > | <a href="https://www.cucei.udg.mx/creditos" target="_blank">Créditos de sitio</a> | <a
                            href="https://www.cucei.udg.mx/politicas" target="_blank">Políticas de uso y privacidad</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
