---
interface Props {
    href: string;
    texto: string;
}
const { href, texto } = Astro.props;
---

<a
    href={href}
    class="px-5 py-2 text-sm font-medium text-gray-600 dark:text-gray-400 hover:text-blue-500"
>
    {texto}
</a>































